.footer {
    background-color: #213631 !important;
    color: #D5E3E4 !important;
    position: fixed;
    width: 100%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px;
    height: 75px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.05);
    bottom: 0;
    z-index: 800;
}

.footer p {
    margin: 0 auto !important;
    font-size: 9px;
}

.copyrights {
    display: none !important;
}

img {
    height: 15px;
}

.footer .row {
    text-align: center;
}
