@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Artifika);

/*/ BACKGROUND DIV /*/

.backgroundElements {
    background:linear-gradient(124deg, #fbfffe, #c6f0f0, #b7e9f8, #e4f8f8, #fff);
    background-size: 1200% 1200%;
    animation: rainbow 10s ease infinite;
    margin: 0 auto;
    width: 800%;
    height: 600px;
    position: absolute;
    overflow: hidden;
/*    border: solid 1px red;*/
}

    /*/ BACKGROUND GRADIENT KEYFRAMES /*/

    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
         0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
         0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow { 
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }


    /*/ END BACKGROUND GRADIENT /*/

/*/ END WORLD CONTAINER /*/

/*/ MOUNTAIN /*/

.mtn01, .mtn02, .sea, .sand, .mtn03 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.mtn01 {
    z-index: 1;
    background-image: url(/img/thailand/mountains01.svg);
    background-repeat: no-repeat;
}
.mtn02 {
    z-index: 1;
    background-image: url(/img/thailand/mountains02.svg);
    background-repeat: no-repeat;
}
.mtn03 {
    z-index: 1;
    background-image: url(/img/thailand/mountains03.svg);
    background-repeat: no-repeat;
}
.sea {
    z-index: 1;
    background-image: url(/img/thailand/sea.svg);
    background-repeat: no-repeat;

}
.sand {
    z-index: 2;
    background-image: url(/img/thailand/sand.svg);
    background-repeat: no-repeat;
}